fastapi==0.115.6
uvicorn[standard]==0.32.1
SQLAlchemy==2.0.36
psycopg[binary]==3.2.3
alembic==1.14.0
pydantic==2.10.3
pydantic-settings==2.6.1
requests==2.32.3
telethon==1.42.0
solana==0.36.6
solders==0.26.0
base58==2.1.1
websocket-client==1.8.0
